node_modules/
.next/

firebase-key.json
.env
# Sentry
.sentryclirc

userscripts/hash.js
*.tsbuildinfo
pages/restock/dashboard/index-disabled2.tsx
pages/api/_dev

.ds_store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

prisma/generated
translation/tree-shake/

itemDataExtractor-admin.user.js
certificates